@model Department
@{
    ViewData["Title"] = "Create Department";
}

<h2>Create Department</h2>

<form asp-action="Create" method="post">
    <div class="mb-3 mt-3">
        <label class="form-label">Department Name:</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Enter department name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
@if (TempData["Errors"] != null)
{
    <div>
        <h4>ModelState Errors:</h4>
        <ul>
            @foreach (var error in TempData["Errors"] as IEnumerable<string>)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

