@model Course
@{
    ViewData["Title"] = "Create Course";
}

<h2>Create Course</h2>

<form asp-action="Create" method="post">
    <div class="mb-3 mt-3">
        <label class="form-label">Title:</label>
        <input type="text" class="form-control" placeholder="Enter title" asp-for="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
